blockquote {
  border-left: 2px solid #60b5cc;
  margin-left: 0;
  opacity: 0.85;
  padding-left: 10px;
}

.title-slide {
  text-align: center;
}

.title-slide h1 {
  margin-bottom: 0;
}

.title-slide h2 {
  margin-top: 15px;
}

.elm-logo {
  width: 200px;
}

.source {
  font-size: 0.8em;
}

.source-container {
  line-height: 0.5em;
}

.js-fatigue-is {
  margin-bottom: 15px;
}

.js-fatigue-is-answer {
  margin-bottom: 30px;
  margin-top: 0;
}

.how-elm-solves-overload {
  margin-bottom: 15px;
}

.how-elm-solves-overload-with {
  margin-bottom: 30px;
  margin-top: 0;
}

.how-elm-solves-overload-image-container {
  float: left;
  left: -30px;
  position: relative;
  width: 400px;
}

.how-elm-solves-overload-image-container .source {
  font-size: 0.5em;
}

.how-elm-solves-overload-item {
  left: 10px;
  list-style: none;
  padding: 5px;
  position: relative;
  top: 30px;
  white-space: nowrap;
}

.elm-is-a {
  color: #333;
}

.elm-is-a:not(.first) {
  color: #999;
}

.poll-audience {
  text-align: center;
}

.poll-audience img {
  border-radius: 15px;
  opacity: 0.8;
  width: 400px;
}

.what-is-js-fatigue {
  text-align: center;
}

.what-is-js-fatigue h2 {
  float: left;
  position: relative;
  text-align: left;
  width: 298px;
}

.what-is-js-fatigue-image {
  float: right;
  z-index: -1;
}

.what-is-js-fatigue-image img {
  border-radius: 15px;
  width: 420px;
}

.not-sure-if-gusta {
  opacity: 0.85;
  padding-left: 20px;
  vertical-align: middle;
  width: 100px;
}

.why-elm {
  text-align: center;
}

.why-elm img {
  border-radius: 15px;
  width: 400px;
}

.runtime-exception-tweet {
  width: 400px;
}

.center {
  text-align: center;
}

.js-fatigue-is.how-it-feels-title {
  margin-bottom: 0;
  text-align: center;
}

.js-fatigue-is-answer.how-it-feels-title {
  margin-bottom: 45px;
  text-align: center;
}

.how-it-feels-container {
}

.how-it-feels {
  float: left;
  width: 400px;
}

.how-it-feels .source {
  font-size: 0.5em;
}

.how-it-feels img {
  background-color: #f2f2f2;
  /* #fffaf2; */
  border-radius: 15px;
  width: 400px;
}

.how-it-feels-item {
  display: inline;
  left: 70px;
  list-style: none;
  margin: 0;
  position: relative;
  top: -10px;
}

.how-it-feels-elm-focus {
  background-color: #f2f2f2;
  /* #fffaf2; */
  border-radius: 15px;
  width: 400px;
}

.elm-compiler-error img {
  border-radius: 15px;
}

.angular-js-error {
  border-radius: 15px;
  width: 700px;
}

.elm-reduces-js-fatigue .how-elm-solves-overload,
.elm-reduces-js-fatigue .how-elm-solves-overload-with {
  text-align: center;
}

img.maybe-example {
  border-radius: 15px;
  width: 650px;
}

.small-assets {
  text-align: center;
}

.small-assets h1 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.small-assets img {
  border-radius: 15px;
  width: 600px;
}

.embed-vanilla-js {
  margin-bottom: 20px;
  /* text-align: center; */
}

h1.embed-vanilla-js {
  margin-top: 40px;
}

.embed-vanilla-js-image {
  border-radius: 15px;
  margin: 0 auto;
  width: 600px;
}

.embed-angular {
  margin-bottom: 20px;
}

h1.embed-angular {
  margin-top: 40px;
}

.embed-angular-image {
  border-radius: 15px;
  margin: 0 auto;
  width: 600px;
}

.heaviest-objects {
  margin: 0.5em;
  text-align: left;
}

.heaviest-objects img {
  border-radius: 15px;
  left: -150px;
  opacity: 0.85;
  position: relative;
  width: 700px;
}

.elm-diff-image {
  border-radius: 15px;
  margin: 0 auto;
  width: 600px;
}

.maybe-example-case {
  text-align: center;
}

.maybe-example-case pre {
  background-color: #f2f2f2;
  border-radius: 15px;
}

img.maybe-example-case-image {
  border-radius: 15px;
  width: 825px;
}

.happy-devs {
  text-align: center;
}

.happy-devs h1 {
  margin: 0;
  margin-bottom: 10px;
  margin-top: 15px;
}

.happy-devs-image {
  border-radius: 15px;
  width: 400px;
}
